#root {
  margin: 0 auto;
  padding: 2rem;
}

.inputTask input {
  border: black 1px solid;
  width: 12rem;
  height: 0.8rem;
  padding: 0.8rem;
}

.inputTask button {
  background-color: green;
  color: white;
  border-radius: 0;
}

.inputTask {
  display: flex;
  align-items: center;
}

.taskList li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 4rem;
  list-style: none;
  cursor: pointer;
}

.taskList li label {
  margin-left: 0.825rem;
  margin-right: 3rem;
}

.taskList li button {
  background-color: inherit;
  border: black 1px solid;
  border-radius: 0;
}

.tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}

.inputLabel label {
  margin-left: 1rem;
  font-weight: 600;
}

.tasks button {
  background-color: inherit;
  border: 1px solid #000;
  border-radius: 0;
}

.categoryBtn button{
  background-color: inherit;
  border: 1px solid #000;
  border-radius: 0;
  margin: 0.2rem;
  margin-top: 2rem;
}

.categoryBtn {
  width: 100%;
}